<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <style type="text/css">
  .container p {
    height: 40px;
    text-align: center;
  }
  .container .btn-group{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }
  </style>
</head>
<body>

  <div class="container">
    <p class="bg-primary">{{ name }}{{ len }}</p>
    <div class="btn-group">
      <a class="btn btn-primary" href="/setLunbo">轮播图</a>
      <a class="btn btn-primary" href="/setNews">新闻</a>
      <a class="btn btn-primary">Right</a>
      <a class="btn btn-primary" href="/setComment?artid=1">新闻评论</a>
      <a class="btn btn-primary" href="/setComment?artid=2">图片评论</a>
      <a class="btn btn-primary" href="/setComment?artid=3">商品评论</a>
    </div>
  </div>

<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/node_modules/mockjs/dist/mock.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
</body>
</html>